---
layout: default
title: "About Ting Ting"
permalink: About.html
---

<div class="page">
  <h1 class="page-title">About Ting Ting</h1>
  <p class="lead">
      <p>Believe it and act as if it were impossible to fail! 深信不疑的去做吧！彷彿不會失敗一樣。</p>

      <span class="sidebar-nav-item">Ting's Links</span>
      <ul>
        {% if site.github_username %}         
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i> GitHub
          </a>       
        {% endif %} 
      </ul>
      <ul>  
        {% if site.wordpress_username %}           
          <a href="https://{{ site.wordpress_username }}.wordpress.com/">
            <i class="fa fa-wordpress"></i> Wordpress
          </a>
      {% endif %}      
      </ul>  
      <ul>  
        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i> Twitter
          </a>
        {% endif %}      
      </ul>
            
    <a href="{{ site.baseurl }}/">Head back home</a> .</p>
</div>

