---
layout: default
---

<div class="page">
  <h3 class="page-title">{{ page.title }}</h3>
  {{ content }}
</div>

<div> 
  <h4>
    {% for member in site.data.member %}
      {{ member.name }}
    {% endfor %}
  </h4>
</div>

<div class="foot" align="center">
    {% if site.wordpress_username %}
      <a href="https://{{ site.wordpress_username }}.wordpress.com/">
        <i class="fa fa-wordpress"></i>
      </a>
    {% endif %}
  
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i>
      </a>       
    {% endif %}
        
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter"></i>
      </a>
    {% endif %}
</div>

